
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";

*{
    box-sizing: border-box;
}
html{
    font-family:"Roboto" , sans-serif;
    font-size: 16px;
    letter-spacing:  0.1em;
    color: #637588;
    overflow-x: hidden;
}

.header-content__title{
font-family: "Roboto Slab" , sans-serif;
font-size: 3.77rem;
padding-right: 4px;
font-weight:300;
line-height: 1.2em;
letter-spacing: .285rem;
padding-left: 2px;
text-align: center;
@include lg-min {
    font-size: 3.77rem;
    }
    @media (max-width: 991.8px) and (min-width: 768px){
        font-size: 2.5rem;
        margin: 0 0 43px;
    }
    @include md{ 
        font-size: 1.875rem;
    }
    @include sm{
        letter-spacing: .1em;
        padding-top: -20px;
        
        
    }
}


 
.header{
    display:flex;
    height: 100vh;
    background-position:50% 50%;
    background-size:cover;
    position: relative;
    align-items: center;
    color: #ffffff;
    padding: 100px 0px;
    

}
.header-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header-menu{  
position: absolute;
top:0px;
left:0;
right:0;
z-index: 2;
width: 100%;
@include md{
    background:rgba($color-gray-dark, .25);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

}


&__box{
    display: grid;
    padding-top: 20px;
    grid-template-columns:auto 1fr;
    max-width: 1340px;
    margin:auto;
    padding-left: 17px;

    
    
}

}




.header-content{
    display: grid;
    justify-content: center;  
    margin-top:4px;
    z-index:1;
    width: 100%;
    
&__box{
    max-width: 1340px;
    padding-left:18px;
    padding-right: 20px;
    text-align: center;
    height: 100%;
    @include sm-min {
        margin-top:-3%;
    }
    }


}


.header-logo{
padding-top: 22.5px;
font-size: 1.5rem;
line-height:0.8rem;;



}

.header-logo__link{
    display:block;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.328rem;
    padding: 3px; 
      
    

}
.header-logo__accent{
    border: 3px solid #d53d27;
    padding:13px 1px 12px 5px;
    margin-right:4px;
   
}
 
.header-nav {
    @include md{
    display: grid;
    justify-content: end;
    margin-right:12px;
    margin-top: -30px;
    }

   &__link{
       display: inline-block;
       padding: 20px;
       font-size:1.125rem;
       text-decoration: none;
   color: #ffffff;
}
    &__menu{
        @include md-min{
        display: grid;
        grid-template-columns:repeat(auto-fit , minmax(50px,max-content));
        list-style: none;
        justify-content:end;
        font-size:1.185rem;
        padding-top: 1px;
        width: 100%;
    }
    @include md {
    display: none;
    
        }
    }
}
.header-nav__menu.active{
    display: block;
    list-style-type: none;
    position: absolute;
    top: 72px;
    right:20px;
    background: #41556b;
}
@mixin btn {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding:18px 67.4px;
    min-width:230px;
    letter-spacing: 0.12rem;
    transition: background-color .5s;
    font-size: 1.125rem;
    background:rgba($color: #fff, $alpha:0.1);
    &:hover{
        background-color:$color-accent;
        transition: .5s;
    }
    &:focus{
        background-color: $color-accent;
    }
   
}
@include lg-md{
    .buton2 , .buton1{
    min-width: 200px;
    height: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
    letter-spacing: 0.1em;
    font-size: 1rem;
    margin-right:20px;
    }
} 
@include md-sm{
    .buton1, .buton2 {
        min-width: 170px;
        height: 40px;
        padding: 10px 30px;
        padding-bottom: 10px;
        letter-spacing: 0.05em;
        font-size: 1rem;
        margin-right:20px;
        margin-bottom:-3%;
    }
}
@include sm{
    .buton1 , .buton2{
    min-width: 170px;
    height: 40px;
    padding: 10px 30px;
    letter-spacing: 0.05em;
    font-size: 1rem;
    margin-right: 20px;
    }
}
.buton1{
    @include btn;
    margin-right:$gap;
    @include sm{
        margin-bottom:-10%;

    } 
}

    .buton2{
        @include btn;
        margin-right: .5%;        
}


.header-content__btn{
   display: flex;
   justify-content: center;
   align-items:flex-start;
   padding: 12px 50px;
   flex-wrap: wrap;
   height: 100%;
   width: 100%;
   margin-left:4px;
   @include sm{
       padding: 0px 70px;
   }
  
}
.header-nav__link{
    transition: color .5s;
    &:hover{
        color: $color-accent;
    transition-duration: .5s;
    }
    &:focus{
        color: $color-accent; 
    }
}


.skills{
    padding: 10px 10px 40px;
}
.skills-box{
    display: grid;
   
 
    @include lg-min{
        grid-gap:$gap/2;  
        grid-template-columns:repeat( 4,1fr);
        grid-template-areas: "a1 a1 a2 a3"
                             "a4 a5 a5 a6"
                             "a7 a8 a9 a6";
        padding:0px 0px 20px 0px;
        
    }                 
 @include lg-md{  
    grid-gap:$gap/2; 
    grid-template-columns:repeat( 3,1fr);
    grid-template-areas: "a1 a1 a2"
                         "a3 a4 a4"
                         "a5 a5 a6"
                         "a7 a8 a6"
                         "a7 a9 a9";
    padding:0px 0px 20px 0px;
    } 

    @include md-sm{
        grid-gap:$gap/2;  
        grid-template-columns:repeat( 2,1fr);
        grid-template-areas: "a1 a2"
                             "a3 a2"
                             "a4 a4"
                             "a5 a6"
                             "a5 a7"
                             "a8 a9";
        padding:0px 0px 20px 0px;
    }

    @include sm{
        grid-gap:$gap;  
        grid-template-columns:repeat( 1,1fr);
        grid-template-areas: "a1"
                             "a2"                            
                             "a3"
                             "a4"                            
                             "a5"                           
                             "a6"
                             "a7"
                             "a8"
                             "a9";
        
    }
}

.skills{
    @include sm-min{
        padding:($gap/2) ($gap/2) ($gap*2);
    }
    @include sm{
        padding:$gap;

    }
}


.skills-item__img{
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    background-size: cover;
    background-position:50% 50%;
    transition: .5s;
}

.skills-item{
    background-color: rgb(8, 163, 60);
    position: relative;
    min-height: calc( 33.3333vh - 13.3333px);
    overflow: hidden;
 
    &:hover .skills-item__img{
     transform: scale(1.1);
     transition: 0.5s;
    }
    &:hover .skills-item__link{
     color: $color-accent;
     transition: 0.5s;
    }
    &:hover .skills-item__overlay{
     opacity: 0.95 !important;
     transition: 0.5s;
    }
 

    &__overlay{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;    
        transition: opacity 0.5s;
    }

}
.skills-item{
    
    &__title{
    position:absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 1;
    letter-spacing: 0.1em;
    font-size: 1.25rem;
    
    }
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration:none;
        color: #ffffff; 
        font-size: 1.25rem;
        transition: 0.5s;
       
        @include md-sm{
            font-size: 1.1rem;
        }
        @include md{
            font-size: 1.1rem;
        }
        
    }
       
    }
    .skills-button{
    display: flex;
    justify-content: center;
        @include sm {
            margin-top: 20px;
        }
      }
      
    .button-accent{
        display: block;
        text-decoration:none;
        border:2px solid  #2d3651;
        background-color: rgba(45, 54, 81, 0.8);
        display: block;
        height: 60px;
        padding: 18px 96px;
        color: #fff;
        text-align: center;
        letter-spacing: 0.112em;
        font-size: 1.10rem;
        transition:background-color .5s;
        @include sm{
            width: 100%;
        }
        &:hover{
            background-color:$color-accent;
            transition:background-color .5s;
        }
        &:focus{
            background-color:$color-accent;
        }
    }



.skills-item:nth-of-type(1){
    grid-area: a1;
}
.skills-item:nth-of-type(2){
    grid-area: a2;
}
.skills-item:nth-of-type(3){
    grid-area: a3;
}
.skills-item:nth-of-type(4){
    grid-area: a4;
}
.skills-item:nth-of-type(5){
    grid-area: a5;
}
.skills-item:nth-of-type(6) {
    grid-area: a6;
}
.skills-item:nth-of-type(7) {
    grid-area: a7;
}
.skills-item:nth-of-type(8) {
    grid-area: a8;
}
.skills-item:nth-of-type(9) {
    grid-area: a9;
}
.abt{
    background: #e5e5e5;
    letter-spacing: 0.055em;
    padding:100px 0px 80px 0px;
    height:100%;

}
.about{
    display:grid;
    
    max-width: 1340px;
    margin: auto;
    padding: 0px 19.5px;
   
    

    @include lg-min{
        grid-template-columns: 1fr 274px;
        grid-gap: 100px; 
    }
    @include lg-md{
        grid-template-columns: 1fr 271px;
        grid-gap: 40px;
    }
    @include md-sm{
        grid-template-columns: 1fr 236px;
        grid-gap: 20px;
    }
    @include sm{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
.about-content__title{
    margin-top: 0px;
    letter-spacing: 0.1em;
    color: #2d3651;
    font-family: "Roboto Slab" , serif;
    line-height: 1.2em;
    font-size: 2.5rem;
    margin-bottom:56px;
  
    @include lg-md{
        font-size: 2rem;
    }
    @include md-sm{
        font-size: 1.5rem;
        text-align: center;
    }
    @include sm{
        font-size: 1.5rem;
        text-align: center;
    }
}
.about-content__prg{
    color: #637588;
    letter-spacing: 0.048em;
    line-height:1.22em;
    margin: -3px 0px 18px;
    font-size: 1.125rem;
    @include md-sm{
        font-size: 0.88rem;
    }
    @include sm{
        font-size: 0.88rem;
    }
}
.about-content__prg:first-of-type{
    position: relative;
    margin-top: -5px; 
}
.about-content__prg:first-of-type::after{
    position: absolute;
    top: 0px;
    right:-50px;
    width: 2px;
    height: 200px;
    content: "";
    background-color: rgba(99, 117, 136, 0.1);
    @include lg-md{
        right: -20px;
    }
    @include md-sm{
        right: -10px;
    }
    @include sm{
        display: none;
    }
}
img[alt="lamp-webdev"]{
    max-height: 480px;
    max-width:100%;

}
.about-content__img{
    margin-top:3px;
    margin-left: 5px;
    display: grid;
    align-content: start;
    justify-items: center;
    @include lg-md{
        margin-top:0px;
        margin-top: 120px;
    
    }
    @include md-sm{
        
        margin-top:0px;
        margin-top:120px;
     

    }

}
.form{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #2d3651;

}
.form-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:$gap;
    justify-items: center;
    width: 100%;
    max-width: 1340px;
    padding-right: 20px;
    padding-left: 20px;
    
    @include md-sm{
        grid-template-columns:1fr 1fr;
        grid-gap:$gap;
        justify-items: center;
       
    }  
    @include sm{
        grid-template-columns:1fr;
       
    }
}

.form-item:nth-of-type(1) {
    @include md-sm
    {
    grid-column: 1 / span 2;
    }
}
.form-item{
    width:100%;

}


.form-item__input{
    background-color: rgba($color-light ,  0.05);
    height: 60px;
    padding: 20px 88px;
    width:100%;
    border: 2px solid rgba($color-light ,  0);
    color: $color-light;
    letter-spacing: 0.1em;
    font-size: 1.125rem;
    transition: background-color .5s, border-color .5s;
    border-bottom:solid 2px rgba($color-light , 0.2);
    font-size: 1.125rem;
    letter-spacing: 0.15em;

   &:hover{
    border-color: rgba($color-light , 0.15);
    border-bottom: 2px solid $color-light;
    background-color: rgba($color-light , 0.15);
    transition: background-color .5s,  border-color .5s;
   }
   &:focus{
    outline:none;
    border: 2px solid rgba($color-light, 0.15);
    border-bottom: 2px solid $color-light;
    background-color: rgba($color-light , 0.15);
   }
}

input[type="text"]{
    padding: 1px 28px;
}
.form-item__btn{
    display:block;
    width: 100%;
    color:$color-light;
    border-color: rgba(255, 255, 255, 0);
    border-bottom:solid 2px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    height: 60px;
    padding: 18px 50px;
    color: #fff;
    letter-spacing: 0.1em;
    font-size: 1.125rem;
    cursor: pointer;
    transition: background-color .5s, border .5s;
    &:hover{
        background-color:$color-accent;
        border:2px solid $color-light;
        transition:background-color .5s, border .5s;

    }
    &:focus{
        outline: none;
        background-color:$color-accent;
        border:2px solid $color-light;
    }

}

.post{
    display: flex;
    justify-content: center;
}
.post-box{
    max-width:1340px;
    margin: 98px 0px;
}
.post-item{
    background-color: $color-light-dark;
    display:grid;
    justify-content: center;
    &:hover .post-item__link{
        background-color:#d8d8d8;
    }

   &:hover  .post-item__img{
        transform: scale(1.1);
        transition: transform .5s;
    }

    &:hover .post-item__caption-prg{
        color:$color-primary;
    }
    &:hover .post-item__caption-title{
        color:$color-primary;
    }
    
    overflow: hidden;

}
.post__item{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-areas : "p1 p1 p2 p3"
                          "p4 p5 p6 p6" ;
    grid-gap:20px;
    padding: 23px 20px 20px 20px ;
    
    @include lg{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-areas : "p1 p1 p2 p3"
                              "p4 p5 p6 p6" ;
        grid-gap:20px;
        padding: 23px 20px 20px 20px ;
    }

    @include lg-md{
    grid-template-columns:repeat(3,1fr);
    grid-template-areas : "p1 p1 p2"
                          "p3 p4 p4"
                          "p5 p6 p6";
                          
    grid-gap:20px;
    padding: 10px ;
  
    }
    @include md-sm{

            grid-template-columns:1fr 1fr;
            grid-template-areas : "p1 p2"
                                  "p3 p4"
                                  "p5 p6";
                                  
                                  
            grid-gap:20px;
            padding: 10px;
    }
    @include md {

        grid-template-columns:1fr;
        grid-template-areas : "p1"
                              "p2"
                              "p3"
                              "p4"
                              "p5"
                              "p6";
                              
        grid-gap:20px;
        padding:10px ;
}
}

.post-item:nth-of-type(1){
    grid-area: p1;
}
.post-item:nth-of-type(2){
    grid-area: p2;
}
.post-item:nth-of-type(3){
    grid-area: p3;
}
.post-item:nth-of-type(4){
    grid-area: p4;
}
.post-item:nth-of-type(5){
    grid-area: p5;
}
.post-item:nth-of-type(6){
    grid-area: p6;
}
img[alt="image-post"]{
   object-fit: cover;
   width: 100%;
   
}
.post-item__img{
    display: flex;
    justify-content: center;
    align-content:center;
    transition: transform .5s;
}
.post-box__title{
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin-bottom: 32px;
    color: #2d3651;
    font-family: "Roboto Slab", serif;
    line-height: 1.2em;
    margin-left:22px;

    @include lg-md{
        font-size: 2rem;
    }
    @include md-sm{
        font-size: 1.5rem;
        text-align: center;
    }

    @include sm{
        font-size: 1.5rem;
        text-align: center;
    }
}
.post-item__caption{
    display:grid;
    align-content: center;
    padding:20px;
    margin-top: 20px;
}
.post-item__caption-title{
    font-family: "Roboto Slab" , serif;
    font-size: 1.125rem;
    text-align: center;
    color: $color-gray;
    letter-spacing: 0.048em;
    padding-bottom: $gap * 2;
    
}

.post-item__caption-prg{
    text-align: center;
    color: $color-gray;
    font-family:"Roboto";
    font-size: 1rem;
    letter-spacing: 0.001em;
    
}
.post-item__link{
    text-decoration: none;
    display: grid;
    grid-template-rows: 300px 1fr;
    height: 100%;
    padding-bottom: 20px;
    
    
    
}
.post-btn{
display:flex;
justify-content: center;
}
.post-btn__accent{
    display: block;
    text-decoration:none;
    border:2px solid  #2d3651;
    background-color: rgba(45, 54, 81, 0.8);
    display: block;
    height: 60px;
    padding: 18px 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.112em;
    font-size: 1.10rem;
    width: 350px;
    margin: 0 auto;
    transition:background-color .5s;
    @include sm{
    width: 100%;
    margin: 0px 10px;
    }
    &:hover{
        background-color:$color-accent;
        transition:background-color .5s;
    }
    &:focus{
        background-color:$color-accent;
    }
}
.footer{
    padding: 50px 20px 70px;
    text-align: center;
    background-color: #2d3651;
    
 
}
.footer-content{
    position: relative;
    max-width: 1340px;
    margin: auto;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    &__social::after{
        position: absolute;
        right: calc(50% - 75px / 2);
        bottom:55.5px;
        content: "";
        width: 75px;
        height: 2px;
        background:rgba(255, 255, 255, 0.1);
    }
        &__social{
            margin-bottom:49.5px;
        height: 100%;
        margin-top:10px;
        margin-left:2px;
        }
    
}

i{
    font-size: 36px;
}
.social__link{
    margin:0px 6.4px;
    display: inline-block;
    color: #fff;
    transition:color .5s;
    &:hover{
        color:$color-accent;
        transition:color .5s;
    }
    &:focus{
        color:$color-accent;
    }
}
.footer-content span:nth-of-type(1){
 margin-left:8px;
letter-spacing:.323em;
font-weight:100;
font-size: 1rem;
color: #637588;

}
.footer-content__copy span{
    display: block;
    color: #fff;
    letter-spacing: .05em;;
    font-weight: bold;
    line-height:1.15em;
    font-size: 1rem;
}


















* {
  margin: 0;
  padding: 0; 
}



 .header-nav__btn{
  width: 38px;
  height: 11px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  @include md-min{
      display: none;

  }
  @include md{
      display:block;
  }
}



.header-nav__btn-row {
  display: block;
  position: absolute;
  height: 3px;
  width: 18px;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header-nav__btn-row:nth-child(even) {
  left: 30%;
  border-radius: 0 9px 9px 0;
}

.header-nav__btn-row:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.header-nav__btn-row:nth-child(1), .header-nav__btn-row:nth-child(2) {
  top: 0px;
}

.header-nav__btn-row:nth-child(3), .header-nav__btn-row:nth-child(4) {
  top: 9px;
}

.header-nav__btn-row:nth-child(5), .header-nav__btn-row:nth-child(6) {
  top: 18px;
}

.header-nav__btn--active span:nth-child(1),.header-nav__btn--active span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-nav__btn--active span:nth-child(2),.header-nav__btn--active span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-nav__btn--active span:nth-child(1) {
  left: 5px;
  top: 3px;
}

.header-nav__btn--active span:nth-child(2) {
  left: calc(50% - 5px);
  top: 3px;
}

.header-nav__btn--active span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.header-nav__btn--active span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.header-nav__btn--active span:nth-child(5) {
  left: 5px;
  top: 12px;
}

.header-nav__btn--active span:nth-child(6) {
  left: calc(50% - 5px);
  top: 12px;
}

